<a href="https://colab.research.google.com/github/rename-z/Deep-Learning/blob/master/LSTMs/Multiclass%20Text%20Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Multiclass Text classification

In [ ]:
import torch

In [ ]:
import torch.nn as nn

In [ ]:
import pandas as pd

In [ ]:
#load the data
reviews = pd.read_csv('/content/drive/My Drive/LSTMs/review.csv')
print(reviews.shape)
reviews.head()

(23486, 11)

   Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
0           0          767   33  ...       Initmates        Intimate   Intimates
1           1         1080   34  ...         General         Dresses     Dresses
2           2         1077   60  ...         General         Dresses     Dresses
3           3         1049   50  ...  General Petite         Bottoms       Pants
4           4          847   47  ...         General            Tops     Blouses

[5 rows x 11 columns]

In [ ]:
reviews['Title'] = reviews['Title'].fillna('')
reviews['Review Text'] = reviews['Review Text'].fillna('')
reviews['review'] = reviews['Title'] + ' ' + reviews['Review Text']

In [ ]:
reviews.head()

   Unnamed: 0  ...                                             review
0           0  ...   Absolutely wonderful - silky and sexy and com...
1           1  ...   Love this dress!  it's sooo pretty.  i happen...
2           2  ...  Some major design flaws I had such high hopes ...
3           3  ...  My favorite buy! I love, love, love this jumps...
4           4  ...  Flattering shirt This shirt is very flattering...

[5 rows x 12 columns]

In [ ]:
# keeping only relevent columns and calculating sentence lengths

reviews = reviews[['review', 'Rating']]
reviews.columns = ['review', 'rating']
reviews['review_length'] = reviews['review'].apply(lambda x : len(x.split()))
reviews.head()

                                              review  rating  review_length
0   Absolutely wonderful - silky and sexy and com...       4              8
1   Love this dress!  it's sooo pretty.  i happen...       5             62
2  Some major design flaws I had such high hopes ...       3            102
3  My favorite buy! I love, love, love this jumps...       5             25
4  Flattering shirt This shirt is very flattering...       5             38

In [ ]:
#change rating to zero numbering
zero_numbering = {1:0, 2:1, 3:2, 4:3, 5:4}
reviews['rating'] = reviews['rating'].apply(lambda x : zero_numbering[x])

In [ ]:
import numpy as np

In [ ]:
#mean sentence length
np.mean(reviews['review_length'])

60.832921740611425

In [ ]:
import spacy
import re
import string

In [ ]:
#tokenization
tok = spacy.load('en')
def tokenize (text):
    text = re.sub(r"[^\x00-\x7F]+", " ", text)
    regex = re.compile('[' + re.escape(string.punctuation) + '0-9\\r\\t\\n]') # remove punctuation and numbers
    nopunct = regex.sub(" ", text.lower())
    return [token.text for token in tok.tokenizer(nopunct)]

In [ ]:
from collections import Counter

In [ ]:
#count number of occurences of each word
counts = Counter()
for index, row in reviews.iterrows():
    counts.update(tokenize(row['review']))

In [ ]:
reviews.head()

                                              review  rating  review_length
0   Absolutely wonderful - silky and sexy and com...       3              8
1   Love this dress!  it's sooo pretty.  i happen...       4             62
2  Some major design flaws I had such high hopes ...       2            102
3  My favorite buy! I love, love, love this jumps...       4             25
4  Flattering shirt This shirt is very flattering...       4             38

In [ ]:
#deleting infrequent words
print("num_words before:",len(counts.keys()))
for word in list(counts):
    if counts[word] < 2:
        del counts[word]
print("num_words after:",len(counts.keys()))

num_words before: 14138
num_words after: 8263

In [ ]:
reviews.head()

                                              review  rating  review_length
0   Absolutely wonderful - silky and sexy and com...       3              8
1   Love this dress!  it's sooo pretty.  i happen...       4             62
2  Some major design flaws I had such high hopes ...       2            102
3  My favorite buy! I love, love, love this jumps...       4             25
4  Flattering shirt This shirt is very flattering...       4             38

In [ ]:
#creating vocabulary
vocab2index = {"":0, "UNK":1}
words = ["", "UNK"]
for word in counts:
    vocab2index[word] = len(words)
    words.append(word)

In [ ]:
def encode_sentence(text, vocab2index, N=70):
    tokenized = tokenize(text)
    encoded = np.zeros(N, dtype=int)
    enc1 = np.array([vocab2index.get(word, vocab2index["UNK"]) for word in tokenized])
    length = min(N, len(enc1))
    encoded[:length] = enc1[:length]
    return encoded, length

In [ ]:
reviews['encoded'] = reviews['review'].apply(lambda x: np.array(encode_sentence(x,vocab2index )))
reviews.head()

                                              review  ...                                            encoded
0   Absolutely wonderful - silky and sexy and com...  ...  [[2, 3, 4, 5, 6, 7, 8, 7, 9, 0, 0, 0, 0, 0, 0,...
1   Love this dress!  it's sooo pretty.  i happen...  ...  [[2, 10, 11, 12, 5, 13, 14, 15, 16, 5, 17, 18,...
2  Some major design flaws I had such high hopes ...  ...  [[54, 55, 56, 57, 17, 58, 59, 60, 61, 62, 11, ...
3  My favorite buy! I love, love, love this jumps...  ...  [[68, 109, 110, 2, 17, 10, 2, 10, 2, 10, 11, 1...
4  Flattering shirt This shirt is very flattering...  ...  [[122, 123, 11, 123, 52, 92, 122, 19, 124, 125...

[5 rows x 4 columns]

In [ ]:
#check how balanced the dataset is
Counter(reviews['rating'])

Counter({0: 842, 1: 1565, 2: 2871, 3: 5077, 4: 13131})

In [ ]:
X = list(reviews['encoded'])
y = list(reviews['rating'])
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

In [ ]:
from torch.utils.data import Dataset, DataLoader

In [ ]:
class ReviewsDataset(Dataset):
    def __init__(self, X, Y):
        self.X = X
        self.y = Y
        
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        return torch.from_numpy(self.X[idx][0].astype(np.int32)), self.y[idx], self.X[idx][1]

In [ ]:
train_ds = ReviewsDataset(X_train, y_train)
valid_ds = ReviewsDataset(X_valid, y_valid)

In [ ]:
import torch.nn.functional as F
from torch.nn.utils.rnn import pack_padded_sequence, pad_packed_sequence
from sklearn.metrics import mean_squared_error

In [ ]:
def train_model(model, epochs=10, lr=0.001):
    parameters = filter(lambda p: p.requires_grad, model.parameters())
    optimizer = torch.optim.Adam(parameters, lr=lr)
    for i in range(epochs):
        model.train()
        sum_loss = 0.0
        total = 0
        for x, y, l in train_dl:
            x = x.long()
            y = y.long()
            y_pred = model(x, l)
            optimizer.zero_grad()
            loss = F.cross_entropy(y_pred, y)
            loss.backward()
            optimizer.step()
            sum_loss += loss.item()*y.shape[0]
            total += y.shape[0]
        val_loss, val_acc, val_rmse = validation_metrics(model, val_dl)
        if i % 5 == 1:
            print("train loss %.3f, val loss %.3f, val accuracy %.3f, and val rmse %.3f" % (sum_loss/total, val_loss, val_acc, val_rmse))

def validation_metrics (model, valid_dl):
    model.eval()
    correct = 0
    total = 0
    sum_loss = 0.0
    sum_rmse = 0.0
    for x, y, l in valid_dl:
        x = x.long()
        y = y.long()
        y_hat = model(x, l)
        loss = F.cross_entropy(y_hat, y)
        pred = torch.max(y_hat, 1)[1]
        correct += (pred == y).float().sum()
        total += y.shape[0]
        sum_loss += loss.item()*y.shape[0]
        sum_rmse += np.sqrt(mean_squared_error(pred, y.unsqueeze(-1)))*y.shape[0]
    return sum_loss/total, correct/total, sum_rmse/total

In [ ]:
batch_size = 5000
vocab_size = len(words)
train_dl = DataLoader(train_ds, batch_size=batch_size, shuffle=True)
val_dl = DataLoader(valid_ds, batch_size=batch_size)

In [ ]:
class LSTM_fixed_len(torch.nn.Module) :
    def __init__(self, vocab_size, embedding_dim, hidden_dim) :
        super().__init__()
        self.embeddings = nn.Embedding(vocab_size, embedding_dim, padding_idx=0)
        self.lstm = nn.LSTM(embedding_dim, hidden_dim, batch_first=True)
        self.linear = nn.Linear(hidden_dim, 5)
        self.dropout = nn.Dropout(0.2)
        
    def forward(self, x, l):
        x = self.embeddings(x)
        x = self.dropout(x)
        lstm_out, (ht, ct) = self.lstm(x)
        return self.linear(ht[-1])

In [ ]:
model_fixed =  LSTM_fixed_len(vocab_size, 50, 50)

In [ ]:
train_model(model_fixed, epochs=30, lr=0.01)

train loss 1.248, val loss 1.220, val accuracy 0.554, and val rmse 1.368
train loss 1.193, val loss 1.209, val accuracy 0.553, and val rmse 1.367
train loss 1.149, val loss 1.197, val accuracy 0.551, and val rmse 1.328
train loss 1.059, val loss 1.104, val accuracy 0.558, and val rmse 1.327
train loss 0.980, val loss 1.068, val accuracy 0.573, and val rmse 1.192
train loss 0.909, val loss 1.040, val accuracy 0.587, and val rmse 0.961

In [ ]:
train_model(model_fixed, epochs=30, lr=0.01)

train loss 0.873, val loss 0.963, val accuracy 0.605, and val rmse 0.896
train loss 0.765, val loss 0.948, val accuracy 0.615, and val rmse 0.854
train loss 0.720, val loss 0.967, val accuracy 0.620, and val rmse 0.846
train loss 0.794, val loss 1.032, val accuracy 0.582, and val rmse 1.061
train loss 0.711, val loss 0.979, val accuracy 0.607, and val rmse 0.875
train loss 0.674, val loss 0.988, val accuracy 0.608, and val rmse 0.871

In [ ]:
train_model(model_fixed, epochs=30, lr=0.01)

train loss 0.682, val loss 0.988, val accuracy 0.600, and val rmse 0.869
train loss 0.588, val loss 0.981, val accuracy 0.623, and val rmse 0.822
train loss 0.544, val loss 1.026, val accuracy 0.624, and val rmse 0.820
train loss 0.503, val loss 1.065, val accuracy 0.620, and val rmse 0.819
train loss 0.483, val loss 1.087, val accuracy 0.622, and val rmse 0.825
train loss 0.450, val loss 1.113, val accuracy 0.618, and val rmse 0.824